/* header inner start */
.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}

@media only screen and (max-width: 768px) {
  .headerInner {
    height: 100px;
  }
}

/* header inner end */

/* left start */

@keyframes headerLeftAnimation {
  from {
    opacity: 0;
    right: 100%;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  animation-name: headerLeftAnimation;
  animation-duration: 1s;
}

.left div {
  width: 31px;
  height: 31px;
  padding: 5px;
  background-color: var(--primary-color);
  position: relative;
  border-radius: 100%;
}

.left div i {
  font-size: 24px;
  border-radius: 100%;
  color: var(--background-color);
  position: absolute;
  top: 50%;
  right: 62%;
  transform: translate(50%, -50%);
}

.left span {
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .left div i {
    font-size: 28px;
  }

  .left span {
    font-size: 24px;
  }
}

/* left end */

/* right start */
@keyframes headerRightAnimation {
  from {
    opacity: 0;
    left: 100%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

nav.right {
  position: relative;
  animation-name: headerRightAnimation;
  animation-duration: 1s;
  width: max-content;
  height: max-content;
}

nav.right ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav.right ul li a {
  display: flex;
  align-items: center;
  gap: 5px;
}

nav.right ul li i {
  color: var(--primary-color);
}

.mobileButton {
  color: var(--primary-color);
  display: none;
  /* transition: all 0.3s; */
}

@media only screen and (max-width: 768px) {
  @keyframes mobileMenuButtonAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .mobileMenuButton {
    font-size: 31px;
  }

  .mobileCloseButton {
    font-size: 35px;
    color: white;
    position: absolute;
    right: 16px;
    top: 36px;
  }

  .mobileButton.active {
    display: block;
    animation-name: mobileMenuButtonAnimation;
    animation-duration: 0.8s;
  }

  nav.right ul.mobileMenuContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    padding: 32px 16px;
    height: 100vh;
    opacity: 0;
    left: 100%;
    transition: all 0.4s;
    z-index: 10;
  }

  nav.right ul.mobileMenuContent.active {
    opacity: 1;
    left: 0px;
  }

  nav.right ul.mobileMenuContent li a {
    font-size: 24px;
    gap: 15px;
    color: white;
  }

  nav.right ul.mobileMenuContent li a i {
    color: var(--background-color);
  }

  nav.right ul.mobileMenuContent li a span {
    color: var(--background-color);
    font-weight: medium;
  }
}

/* right end */
